[Saved values]
titledbfixed=true

Last save auto backup=0
[General]
SmartNetworkConfig=True
RotateJoycon=False
ScreenIdleTimeout=0
Autorepeat=True
TimeShowSeconds=True
TimeShow=True
ShowCacheWarmingIndicator=True
RotateScreen=False
AutoSaveBackupInterval=0
ExitToHomeScreen=True
LogEvents=False
HighlightUpdates=True
OptimizeClockSpeed=True
ROSaveFS=False
ShowUpdateFromHere=True
MoveDownAfterX=True
Secondcursor=False
SavesFolder=sdmc:/switch/DBI/saves/
LogsFolder=sdmc:/switch/DBI/logs/
DumpsFolder=sdmc:/switch/DBI/dumps/
VersionsURL=https://raw.githubusercontent.com/blawar/titledb/master/versions.txt
[MainMenu]
BrowseSD=True
BrowseSystem=False
BrowseUser=False
USBHost=True
BackendInstall=True
Network=True
BrowseApps=True
Tools=True
Tickets=True
Saves=True
MTP=True
FTP=True
HTTP=True
GameCard=True
Local=True
[Applications]
CalculateLFSSize=True
[Install]
CheckHash=True
CreateLFS=False
WipeSignature=True
[MTP]
ShowCombinedNSP=True
AddBaseUpdate=True
ShowMAC=True
MACasTID=True
TurnOffScreen=false
ReportAndroidExtension=True
CustomStorages=True
SingleURB=False
BufferSize=512
NewBufferTimeout=2500
[MTP Storages]
1: SD Card=True
2: Nand USER=True
3: Nand SYSTEM=True
4: Installed games=True
5: SD Card install=True
6: NAND install=True
7: Saves=True
8: Album=True
9: Gamecard=True
[FTP]
TurnOffScreen=false
ReadMT=False
CDIR=False
ForceUtf8=True
UseWaitAll=False
[Access point]
UseAP=False
Use5GHz=False
Hidden=False
[FB2]
Theme=Night
Hyphenation=true
Orientation=0


[Title name override]

